@model almany.GalleryImage

<div class="s-12 l-4">
    <a class="fancybox" href="@Model.image_url" data-fancybox-group="gallery" title="@Model.title">
        <img src="@Model.image_url">
    </a>
        <p class="subtitile">
            @Model.title
        </p>
</div>
