
#carousel #owl-demo .item img {
    height: auto;
    width: 50%;
    float: right;
}
.after{
    position:relative;
    float:right;
    right:43%;
    width:auto;
}
.after h2 , .before h2{
    background: none repeat scroll 0 0 rgba(0, 30, 34, 0.85) !important;
	color: #fff !important;
	display: inline-block !important;
    border-radius: 50%;
	width: 94%;
	height: 100%;
}
.before{
    float:right;
    width:auto;

}
.customform div {
    float: right;
    text-align: right;
    direction: rtl;
    margin-bottom: 0px;
}
#inlineDatepicker{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
#checkTimes .l-4{
    width: 18%;
    min-width: 160px;
    margin: auto;
    padding-left: 4%;
}
.content-block{
    padding:0 !important;
}
#checkTimes{
position: relative;
direction: rtl;
width: 80%;
margin: auto;
text-align: center;

}
.content-block p{
    font-size: 1.8em;
}
.cantSec .content-block{
    background: none repeat scroll 0 0 rgb(87, 22, 34);
}
.canSec .content-block{
    cursor: pointer;
}